body {
    background-image: url(img/croix-plastique-jaune-orteil-champ-regle-pour-jouer-au-tic-tac-toe-fond-bleu-concept-xo-win-challenge-jeu-educatif-pour-enfants_164357-2507.avif);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boxArea {
    width: 610px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.carre {
    border: 1px;
    width: 200px;
    height: 200px;
    background-color: rgba(214, 214, 214, 0.71);
    backdrop-filter: blur(10px);
    text-align: center;
    line-height: 190px;
    font-size: 2em;
    border-radius: 10px;
}

#boxFooter {
    margin-top: 10px;
    width: 350px;
    height: 60px;
    border: 2px solid rgba(214, 214, 214, 0.71);
    border-radius: 10px;
    background-color: rgba(214, 214, 214, 0.71);
    backdrop-filter: blur(1px);
    font-size: 2em;
    text-align: center;
}

.status {
    padding-top: 6px;
}

.𝖷 {
    color: rgb(177, 39, 39);
}

.𐤏 {
    color: rgb(46, 155, 46)
}